{% comment %}
  Renders a single row in the Blog list, per the "Teaser / Blog Teaser List" component.
  Params: post
{% endcomment %}
{% assign post = include.post %}
<a href="{{ post.url | relative_url }}" class="blog-row">
  <div class="blog-row__body">
    <div class="blog-row__meta">
      {% include label.html text=post.category color="sunshine" %}
      <span class="ui-upper-small blog-row__date">{{ post.date | date: "%d / %B / %Y" }}</span>
    </div>
    <h4>{{ post.title }}</h4>
    <p class="body-text--small">{{ post.excerpt }}</p>
  </div>
  <div class="blog-row__image" aria-hidden="true">
    {% if post.image %}<img src="{{ post.image | relative_url }}" alt="" loading="lazy">{% endif %}
  </div>
</a>
