.site-footer {
  background: $color-bg-level-4;
  color: $color-text-invert;
  padding-top: $section-pad-tb-mobile;
  padding-inline: $section-pad-lr-mobile;

  @include tablet-up {
    padding-top: $section-pad-tb-tablet;
    padding-inline: $section-pad-lr-tablet;
  }

  @include desktop-up {
    padding-top: $section-pad-tb-desktop;
    padding-inline: $section-pad-lr-desktop;
  }
}

.site-footer__row {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px dashed $color-stroke-dimmed-invert;

  @include tablet-up {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.site-footer__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.site-footer__nav-link {
  padding: 0.25rem 0.375rem;
  font-size: $size-body-small;
  color: $color-text-invert;
}

.site-footer__divider {
  width: 1rem;
  height: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-60deg);
  img { width: 100%; }
}

.site-footer__legal {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.site-footer__social {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  border-bottom: 1px dashed $color-stroke-dimmed-invert;

  @include tablet-up {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.site-footer__social-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.site-footer__social-link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: $size-body-small;

  img { width: 1.5rem; height: 1.5rem; }
}

.site-footer__partners {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.site-footer__partners img {
  height: 3.5rem;
  width: auto;
}

.site-footer__wordmark {
  overflow: hidden;
  padding-top: 5rem;
  height: 7.5rem;

  @include tablet-up { height: 10.25rem; }
  @include desktop-up { height: 14rem; }

  img {
    width: 100%;
    height: auto;
  }
  .svg-cutout {
    background-color: $color-sunshine;
}
}
